/* header样式 */
.header{
    position: fixed;
    top:0;
    z-index: 999;
    width: 100%;
    background:linear-gradient(-180deg,rgba(0,0,0,.2),transparent);
    display: flex;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
}
.header_second{
    position: relative;
    display: flex;
    font-size:17px;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}
.img{
    margin-top: 9px;
}
.header_ul>li{
    list-style-type: none;
    float: left;
    padding: 10px;
}
.header_a{
    color: #fff;
    text-decoration: none;
}
.header_a:hover{
    font-weight:bold; 
    border-bottom: 2px solid #fff;
}
/* header end */
/* 轮播图 start */
.banner{
    width: 100%;
    min-width: 960px;
    height: 740px;
    position: relative;
}
.banner-container>img{
    width:100%;
    height:740px;
}
.banner-cook{
    position: absolute;
    bottom: 377px;
    margin-left: 480px;
}
.life{
    position: absolute;
    width:70%;
    height:500px;
    top:15px;
    right:100px;
}
.sliders-title{
    font-size: 60px;
    color: #fff;
    text-shadow: 0 2px 8px rgba(0,0,0,.2);
    position: absolute;
    margin-left: -480px;
}
.sliders-intro{
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -480px;
}
.banner-search{
    position: absolute;
    z-index: 9;
    bottom: -20px;
    left: 37%;
    margin-left: -480px;
    height: 60px;
    width: 960px;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 6px 12px 0 rgba(0,0,0,.08);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.08);
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.banner-keyword{
    width: 960px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
    position: absolute;
    z-index: 19;
    bottom: -50px;
    left: 37%;
    margin-left: -480px;
}
.tomato:hover{
    color:#ff2e64;
}
.carousel-indicators{
    position:absolute;
    top: 550px;
    right: 50%;
}
.search-input{
    border:none;
    width: 800px;
    outline:none;
}
.search-btn{
    flex: 0 74px;
    font-size: 17px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    margin: 10px 20px;
    border-radius: 4px;
    background: #ff2e64;
    border:0;
    box-shadow: #eee;
    outline:none;
}
.banner-img{
    width: 20px;
    height: 20px;
    margin: 20px;
}
.swiper-prev{
    position: absolute;
    top: 50%;
}
.arrow-left {
    margin-left: 300px;
    width: 20px;
    height: 35px;
}
.arrow-right {
    margin-left: 1430px;
    width: 20px;
    height: 35px;
}
/* 轮播图end  */
/* 一日三餐 start*/
.three_meals{
    width: 100%;
}
.three_meals_span{
    color: #4d4d4d;
    border-bottom: 4px solid #ff2e64;
    padding-bottom: 10px;
}
.three_meals_div{
    text-align: center;
}
.three_meals_second_div{
    display: flex;
    justify-content: center;
}
.three_meals_ul{
    list-style: none;
    padding: 0;
}
.three_meals_li{
    padding: 30px;
    float: left;
}
.three_meals_a{
    color: #4d4d4d;
    text-decoration: none;
}
.three_meals_a:hover{
    color: #ff2e64;
    text-decoration:none;
    display:inline-block;
}
.three_meals_ul>.active{
    border-bottom: 2px solid #ff2e64;
}
.meals{
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-between;
}
.meals-box{
    width:24%;
}
.meals-img-box{
    width: 100%;
    overflow: hidden;
}
.meals_img{
    width: 100%;
    display: block;
    transition: all 0.6s;
}
.meals_a:hover .meals_img{
    transform: scale(1.1);
}
.meals_a{
    text-decoration: none;
}
.meals_h3{
    color: #000000;
}
.meals_p{
    color: #4d4d4d;
}
/*一日三餐 end*/
/*享"瘦"之旅 start*/
.travel{
    width: 100%;
}
.travel_div{
    text-align: center;
}
.travel_span{
    color: #4d4d4d;
}
.travel_second_div{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content:space-between;
}
.travel_box{
    width: 24%;
}
.travel_img_box{
    width: 100%;
    overflow: hidden;
}
.travel_img{
    width: 100%;
    transition: all 0.6s;
    display: block;
}
.travel_img:hover{
    transform: scale(1.1);
}
.travel_a{
    text-decoration: none;
}
.travel_h3{
    color: #000000;
}
.travel_p{
    color: #4d4d4d;
}
/*享"瘦"之旅 end*/
/*瘦身日记 start*/
.dairy{
    background-color:#f3f4f8;
    width: 100%;
}
.dairy_div{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}
.dairy_2p{
    color: #fdbd39;
}
.dairy_second_div{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
}
.dairy_a_div{
    position: relative;
    transition: all 0.5s;
    width: 100%;
}
.dairy_a_div:hover{
    transform: translateY(-3px);
    box-shadow: 0px 6px 28px 1px;
}
.dairy_left{
    width: 33.3%;
    margin: 10px;
    justify-content: space-between;
}
.dairy_left a{
    display: block;
    text-decoration: none;
    color: #000000;
}
.dairy_bottom{
    background: #ffffff;
    padding-left:33px;
    /*font-family: '方正舒体';*/
}
.dairy_img{
    width: 100%;
    display: block;
}
.dairy_top{
    width: 100%;
}
.dairy_span{
    position: absolute;
    right: -35px;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: -40px 47px 0 0;
    font-size: 21px;
    background: #ff7474;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    line-height: 58px;
}
.dairy_span2{
    background: #ffae00!important;
}
.dairy_span3{
    background: #46cd38 !important;
}
.dairy_bottom{
    padding: 20px;
}
.name{
    padding-left:15px;
}
.age{
    padding-left: 90px;
}
.content{
    margin-top: 0;
    line-height: 21px;
    letter-spacing: 1px;
    margin-left: 15px;
    font-size: 15px;
}
.read{display: flex;}
.write{padding-top: 7%;}
/*瘦身日记 end*/